
<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Badge Name</td>
            <td>Description</td>
            <td>Image</td>
            <td>Eligible students</td>
         </thead>
         
         
            <tr>
               <td>ss</td>
               <td>ff</td>
  	       <img src = >
               <td> </td>
               <td></td>	
            </tr>
         
            <tr>
               <td>a</td>
               <td>z</td>
  	       <img src = >
               <td> </td>
               <td></td>	
            </tr>
         
            <tr>
               <td>vffv</td>
               <td>vds</td>
  	       <img src = pooja.png>
               <td> pooja.png</td>
               <td></td>	
            </tr>
         
      </table>
      
      
   </body>
</html>